.sport_imagen {
    height: 400px;
    width: 600px;
    padding-left: 640px;
}

.bronco_imagen {
    height: 400px;
    width: 600px;
    padding-left: 640px;
}

.accord_imagen {
    height: 400px;
    width: 600px;
    padding-left: 640px;
}

.civic_imagen {
    height: 400px;
    width: 600px;
    padding-left: 640px;
}

.rover_imagen {
    height: 400px;
    width: 600px;
    padding-left: 640px;
}

.aventador_imagen {
    height: 400px;
    width: 600px;
    padding-left: 640px;
}