.contacto_de_autos {
    height: 527px;
    width: 572px;
    margin: 20px 680px;
    padding: 54px 126px;
    background-color: #00000050;
    text-transform: uppercase;
    border: 2px solid black;
}

.botones_contactos {
    padding-left: 100px;
}

.condiciones_contacto {
    font-size: 15px;
    color: #20e2d7;
}

/*input{
    transition: all 2s;
}

input:focus {
    width: 55;
    height: 60;
    font-size: 30px;
}*/