@import "navbar";
@import "footer";
@import "contactos";
@import "catalogo";
@import "maps";
@import "extend";
@import "mixin";
@import "imagenes";
@import "mainIndex";


/*
flex index /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


.flex_main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    justify-content: center;
}


.flex_mainDos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    justify-content: center;
}


/*
grid index ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.grid_card {
    display: grid;
    grid-template-columns: auto;
    padding: 40px 100px;
    margin: 100px 100px;
    background-image: url(../assets/imagenes/neon-4k-8k-hd-wallpaper-preview.jpg);
    background-attachment: fixed;
}

.card_titulo {
    margin: 20px 20px;
    padding: 20px 20px;
    padding-left: 675px;
    font-size: 35px;
    color: #20e2d7;
}

.grid_card_numeroDos {
    display: grid;
    grid-template-columns: auto;
    padding: 40px 200px;
    margin: 100px 20px;
    background-image: url(../assets/imagenes/neon-4k-8k-hd-wallpaper-preview.jpg);
    background-attachment: fixed;
}

.gridIndex_verCatalogo {
    display: grid;
    grid-template-columns: auto;
    padding: 40px 50px;
    margin: 60px 800px;
    Border: 2px solid #20e2d7;
    background-color: #000000b7;
    text-transform: uppercase;
}

.linkIndex_catalogo {
    padding-left: 40px;
}

.aDelIndex_Catalogo {
    color: #20e2d7;
}



/*
Index ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

body {
    background-image: url(../assets/imagenes/89-895507_skyscrapers-in-night-city-wallpaper-city-night-wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    
}


* {
    font-family: 'Oswald', sans-serif;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

.d-block{

    height: 700px;
    width: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
   


}

.bg-light{

    background-color: #ffffff80!important;
    text-transform: uppercase;
}



@media all and (max-width: 1023px){

    nav {
        height: 80px;
    }
    nav ul {
        padding-top: 1px;
    }
    nav ul li {
        margin: 1px;
        font-size: 18px;
        padding: 1px;
    }
    .navbar{

        padding: 10.5rem 1rem;
        padding-bottom: 200px;
    }

    .header_logo img {
        padding-top: 7px;
        width: 100px;
    }
    .grid_card {
        padding: 40px 5px;
        margin: 40px 5px;
    }
    .card_titulo {
        margin: 21px 10px;
        padding: 20px 10px;
        padding-left: 354px;
        font-size: 20px;
    }
    .grid_card_numeroDos {
        padding: 40px 20px;
        margin: 100px 20px;
    }
    .gridIndex_verCatalogo {
        padding: 40px 50px;
        margin: 60px 50px;
        justify-content: center;
    }
    footer {
        width: 100%;
        height: 15px;
        min-height: 10vh;
    }
    .footer_titulo {
        font-size: 15px;
        padding-left: 350px;
    }
    .imgDiv {
        padding-left: 340px;
    }
    .imgIg {
        height: 20px;
        width: 30px;
    }
    .imgTw {
        height: 20px;
        width: 30px;
    }
    
    .copy {
        font-size: 5px;
    }
    .flex_main {
        padding: 5px;
        width: 100%;
    }
    .img_paraMain {
        padding: 5px;
        font-size: 10px;
    }
    p {
        font-size: 15px;
    }
    .imagenFlex {
        width: 200px;
        padding: 20px;
        font-size: 20px;
    }
    .gridImagenesMain_index {
        grid-gap: 72px;
        grid-template-columns: auto;
        grid-template-rows: 165px 164px;
        grid-template-areas:  
        "imagenParaGridMainUno" 
        "imagenParaGridMainDos" 
        "imagenParaGridMainTres" 
        "imagenParaGridMainCuatro";
        justify-content: center;
    }

    footer {
        width: 100%;
        height: 15px;
        min-height: 63vh;
    }

    .cta-search {
       
        left: 50%;
        top: 39%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.5);
        padding: 42px;
        height: 80px;
        border-radius: 130px;
    }

    .linkIndex_catalogo {
        padding-left: 8px;
    }

}



@media all and (max-width: 769px) {
    nav {
        height: 80px;
    }
    nav ul {
        padding-top: 16px;
    }
    nav ul li {
        margin: 1px;
        font-size: 12px;
        padding: 1px;
    }
    
    .navbar{

        padding: 5.5rem 1rem;
    }
   .d-block{

        height: 200px;
        width: 200px;
    }

    .cta-search{

        left: 50%;
        top: 48%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.5);
        padding: 42px;
        height: 80px;
        border-radius: 130px;
    }
    
    .text_UpBusqueda{
    
        font-family: 'Poppins',sans-serif;
        font-size: 28px;
        font-weight: bold;
        color: #fff;
        padding-left: 75px;
        padding-top: 7%;
    }

    .header_logo img {
        padding-top: 7px;
        width: 90px;
    }
    .grid_card {
        padding: 21px 20px;
        margin: 129px 8px;
    }
    .card_titulo {
        margin: 20px 10px;
        padding: 20px 10px;
        padding-left: 135px;
        font-size: 20px;
    }
    .grid_card_numeroDos {
        padding: 40px 20px;
        margin: 100px 20px;
    }
    .gridIndex_verCatalogo {
        padding: 40px 50px;
        margin: 60px 50px;
    }
    footer {
        width: 100%;
        height: 15px;
        min-height: 10vh;
    }
    .footer_titulo {
        font-size: 15px;
        padding-left: 162px;
    }
    .imgDiv {
        padding-left: 157px;
    }
    .imgIg {
        height: 20px;
        width: 30px;
    }
    .imgTw {
        height: 20px;
        width: 30px;
    }
    .copy {
        font-size: 5px;
    }
    .flex_main {
        padding: 5px;
        width: 100%;
    }
    .img_paraMain {
        padding: 5px;
        font-size: 10px;
    }
    p {
        font-size: 15px;
    }
    .imagenFlex {
        width: 200px;
        padding: 20px;
        font-size: 20px;
    }
    .gridImagenesMain_index {
        grid-gap: 72px;
        grid-template-columns: auto;
        grid-template-rows: 165px 164px;
        grid-template-areas:  
        "imagenParaGridMainUno" 
        "imagenParaGridMainDos" 
        "imagenParaGridMainTres" 
        "imagenParaGridMainCuatro";
    }

    .linkIndex_catalogo {
        padding-left: 5px;
    }

    
    footer {
        background-color: #353b48;
        width: 100%;
        overflow: hidden;
        display: grid;
        grid-template-areas: "footer";
        gap: 1rem;
        padding: 50px 0px;
        background-size: cover;
        min-height: 75vh;
    }
    
    .container-footer{
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
    
    }
    
    .box-footer{
    
        display: flex;
        flex-direction: column;
        padding: 40px;
    
    }
    
    .box-footer h2{
    
        margin-bottom: 30px;
        color: aliceblue;
        font-weight: 700;
    }
    
    .box-footer a{
    
        margin-top: 10px;
        color: aliceblue;
        font-weight: 600;
    }




}


/*
flex catalogo ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    justify-content: center;
}

.flex-item {
    width: 600px;
    padding: 20px;
    font-size: 30px;
}


/*
 grid catalogo //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.grid-container_catalogo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px;
    justify-content: center;
    grid-row-gap: 20px;
}

.grid-item {
    border: 2px solid #20e2d7;
    padding: 30px;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: #00000050;
    text-transform: uppercase;
}


/*
catalogo de autos //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

main {
    overflow: hidden;
}

@media all and (max-width: 1023px){

    
    nav ul {
        padding-top: 118px;
    }
  
}

@media all and (max-width: 769px){

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      margin: auto;
  }

  .navbar {
    padding: 10.5rem 1rem;
}

}

/*
grid contactos //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.gridCard_contactos {
    display: grid;
    grid-template-columns: auto;
    padding: 40px 50px;
    margin: 40px 50px;
    background-image: url(../assets/imagenes/neon-4k-8k-hd-wallpaper-preview.jpg);
    background-attachment: fixed;
}

.condiciones_contactoDos {
    padding-left: 740px;
    font-size: 20px;
    color: #20e2d7;
}

.titulo_infoContactos {
    color: #fcfcfc;
    padding-left: 740px;
}

/*
registrarse ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


@media all and (max-width: 1023px){


    .contacto_de_autos {
        height: 799px;
         width: 434px;
         margin: 15px 163px;
         padding: 15px 15px;
         border: none;
    }
    .gridCard_contactos {
        
        padding: 10px 15px;
        margin: 10px 15px;
       
    }
    .condiciones_contactoDos {
        padding-left: 250px;
        font-size: 20px;
        
    }
    
    .titulo_infoContactos {
        padding-left: 250px;
    }



}



@media all and (max-width: 769px){

    .contacto_de_autos {
        height: 513px;
        width: 437px;
        margin: 23px 1px;
        padding: 32px 53px;
        border: none;
    }
    .gridCard_contactos {
        
        padding: 10px 15px;
        margin: 10px 15px;
       
    }
    .condiciones_contactoDos {
        padding-left: 45px;
        font-size: 20px;
        
    }
    
    .titulo_infoContactos {
         padding-left: 90px;
    }


}


/* 
flex videos ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.flex_videos_infor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    justify-content: center;
}

.explicacion_autos {
    width: 600px;
    padding: 20px;
    font-size: 30px;
}


/*
grid videos ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.gridCard_videos {
    display: grid;
    grid-template-columns: auto;
    padding: 40px 50px;
    margin: 40px 50px;
    background-image: url(../assets/imagenes/neon-4k-8k-hd-wallpaper-preview.jpg);
    border: 2px solid #20e2d7;
    background-attachment: fixed;
}

.titulo_info {
    padding-left: 740px;
    font-size: 25px;
    color: #20e2d7;
}

.texto_masInfo {
    text-align: center;
    font-size: 20px;
    color: #fcfcfc;
}
/*
mas sobre autos ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.video_autos {
    font-size: 40px;
    color: #20e2d7;
}

.video_autosDos {
    font-size: 40px;
    color: #20e2d7;
}

@media all and (max-width: 1023px){

    .gridCard_videos {
        
        padding: 10px 10px;
        margin: 20px 20px;
    }

    .titulo_info {
        padding-left: 280px;
        font-size: 20px;
        
    }

    .video_autos {
        font-size: 20px;
        padding-left: 205px;
        
    }
    
    .video_autosDos {
        font-size: 20px;
        padding-left: 205px;
        
    }


}


@media all and (max-width: 769px){

    .gridCard_videos {
        
        padding: 10px 10px;
        margin: 20px 20px;
    }

    .titulo_info {
        padding-left: 87px;
        font-size: 20px;
        
    }

    .video_autos {
        font-size: 20px;
        padding-left: 205px;
        
    }
    
    .video_autosDos {
        font-size: 20px;
        padding-left: 205px;
        
    }


}

/*
Ubicacion ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

#mapaGoogle iframe {
    width: 100%;
    height: 620px;
    padding-top: 20px;
}